.parent {
    width: 300px;
    padding: 20px;
    perspective: 1000px;
    float: left;
  }

.project-info {
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: -50px;
    width: 150%;
  }
  
  .project-title {
    font-weight: 700;
    font-size: 1.25em;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    margin: 0 auto;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .account {
    font-weight: bold;
  }
  
  .tag {
    font-weight: lighter;
    color: grey;
  }
  
  /*DELETE THIS TWO LINE*/
  .delete {
    background-color: #b2b2fd;
  }
  
  .card-img div {
    width: 90%;
  }
  /*IF USING IMAGES*/
  
  .card {
    padding-top: 50px;
    background-color: white;
    color: black;
    width: 270px;
    max-height: 250px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .card-img {
    position: relative;
    top: -40px;
    height: 100px;
    display: flex;
    justify-content: center;
  }
  
  /* Change the .card-img div to .card-img img to use img*/
  .card-img a,
  .card-img div {
    height: 100%;
    width: 85%;
    /* Change this width here to change the width of the color/image */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  }
  
  .pv:hover {
    transform: scale(1.12);
  }
  
  .card-imgs {
    transition: all 0.5s;
  }

  /* add Company data*/
  .right-side-component {
    width: 100%;
    position: absolute;
    z-index: 10000000;
    right:0;
  }
  
  .add-company{
    position: relative;
    background-color: #ffffff;
    box-shadow: 1px 0px 28px 4px #0bdd12;
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 600px;
  }

  /* Add Company Button */

  .button {
    position: relative;
    width: 200px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin:5px auto
  }
   
  .button .button__text {
    transform: translateX(30px);
    color: #167dd1;
    font-weight: 600;
  }
  .button .button__text:hover {
    color: #0f3a5e;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(190px);
    height: 30px;
    width: 39px;
    border-radius: 50px;
    background-color: #167dd1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button .button__icon:hover{
    background-color: #0f3a5e;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  /* form Add Company Component */
.right-side-component {
  width: 100%;
  position: absolute;
  z-index: 10000000;
  right:0;
}

.add-company {
  position: relative;
  background-color: #ffffff;
  box-shadow: 1px 0px 28px 4px #0bdd12;
  display: block;
  margin: auto;
  border-radius: 10px;
  width: 600px;
}