<div *ngFor="let form of shared.formations" [style] = "blur">
<div class="parent">
  <div class="card">
      <div class="content-box">
          <span class="card-title">{{form?.titre}}</span>
          <p class="card-content">
              {{form?.description}}.
          </p>
          <span class="see-more" (click)="onSeeMoreClick(form)">See more</span>
          <span class="see-more" (click)="onPlanClick(form)">Plan</span>
      </div>
      <div class="date-box">
        <div  *ngFor="let planification of form?.planifications">
          <span class="month">{{ planification.dateDebut | date: 'MMM' }}</span>
          <span class="date">{{ planification.dateDebut | date: 'dd' }}</span>
        </div>
      </div>
  </div>
</div>
</div>
<div class="right-side-component">
  <div class="plan-seeMore">
    <ng-container  *ngIf="dataFormationComponent">
      <app-data-formation></app-data-formation>
    </ng-container>
    <ng-container  *ngIf="planificationVisible">
      <app-planification></app-planification>
    </ng-container>
  </div>
</div>
