<body>
  <div class="main-block">
    <form  (submit)="addCompany()">
        <div class="info__close" (click)="onClose()"><svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20"><path fill="#393a37" d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"></path></svg></div>
      <div class="title">
        <h3>Add company</h3>
      </div>
      <div class="info">
        <input type="text" name="nom" placeholder="Name" [(ngModel)]="entreprise.nom" required>
        <input type="text" name="adresse" placeholder="Adresse" [(ngModel)]="entreprise.adresse" required>
        <input type="tel" name="telephone" placeholder="Phone" [(ngModel)]="entreprise.telephone" required>
        <input type="url" name="url" placeholder="Site Web" [(ngModel)]="entreprise.url" required>
        <input type="email" name="email" placeholder="Email" [(ngModel)]="entreprise.email" required>
      </div>
      <div *ngIf="Message" class="error-message">{{ Message }}</div>
      <button type="submit">Register</button>
    </form>
  </div>
</body>
